<div class="row">
  <div class="section col-sm-12" id="vanessa">
    <h3>Vanessa Beck</h3>
    <h5><a href="mailto:vanessa.beck@ulb.ac.be">vanessa.beck@ulb.ac.be</a></h5>
    <img class="pull-left profile" src="vanessa.jpg" />
    <p>
      Master en Psychologie du travail, psychologie économique et des organisations à l’Université Libre de Bruxelles
    </p>

    <p>
      Phd à Freie Universität Berlin
    </p>

    <p>
      Toujours intéressée à la pratique du Yoga et Meditation Vipassana à l’Institut Supérieur du Bouddhisme de Bruxelles
    </p>

    <p>
      Formée par le Center For Mindfulness in Medicine, Health Care, and Society à l’Université de Massachusetts.
    </p>

    <p>
      Membre de l'ADM (Association pour le développement de la Mindfulness),
    </p>
  </div>

  <div class="section col-sm-12" id="adrien">
    <h3>Adrien Fitch</h3>
    <h5><a href="mailto:adrien.lechien@ulb.ac.be">adrien.lechien@ulb.ac.be</a></h5>
    <img class="pull-left profile" src="adrien.jpg" />
    <p>
      Master en Psychologie du travail, psychologie économique et des organisations à l’Université Libre de Bruxelles
    </p>

    <p>
      5 année d’exérience comme Manager Marketing online
    </p>

    <p>
      Certificat d'interventions psychologiques basées sur la pleine conscience, à l'UCL
    </p>

    <p>
      Spécialisé en MBSR (Mindfulness-Based Stress Reduction) au Center for Mindfulness
    </p>
  </div>

  <div class="section col-sm-12" id="romeo">
    <h3>Roméo Gerard</h3>
    <h5><a href="mailto:roméo.gerard@ulb.ac.be">roméo.gerard@ulb.ac.be</a></h5>
    <img class="pull-left profile" src="romeo.jpg" />
    <p>
      Master en Psychologie du travail, psychologie économique et des organisations à l’Université Libre de Bruxelles
    </p>

    <p>
      6 année d’expérience en DRH
    </p>

    <p>
      Toujours intéressée à la pratique du Yoga et Meditation Vipassana à l’Institut Supérieur du Bouddhisme de Bruxelles
    </p>

    <p>
      Certificat d'interventions psychologiques basées sur la pleine conscience, à l'UCL et instructeur MBCT
    </p>

    <p>
      Professional Certified Coach à l’ICF de Bruxelles
    </p>
  </div>

  <div class="section col-sm-12" id="genny">
    <h3>Genny Sartorello</h3>
    <h5><a href="mailto:genny.sartorello@ulb.ac.be">genny.sartorello@ulb.ac.be</a></h5>
    <img class="pull-left profile" src="genny.jpg" />
    <p>
      Master en Psychologie du travail, psychologie économique et des organisations à l’Université Libre de Bruxelles
    </p>

    <p>
      Phd à Stockholm University
    </p>

    <p>
      Professional Certified Coach à l’ICF de Bruxelles
    </p>

    <p>
      Spécialisé en MBSR (Mindfulness-Based Stress Reduction) au Center for Mindfulness
    </p>

    <p>
      Membre de l'ADM (Association pour le développement de la Mindfulness),
    </p>
  </div>

  <div class="section col-sm-12" id="monica">
    <h3>Monica Piraino</h3>
    <h5><a href="mailto:monica.piraino@ulb.ac.be">monica.piraino@ulb.ac.be</a></h5>
    <img class="pull-left profile" src="monica.png" />
    <p>
      Master en Psychologie du travail et des organisations à Sapienza Università di Roma
    </p>

    <p>
      4 année d’expérience en DRH
    </p>

    <p>
      Formée par le Center For Mindfulness in Medicine, Health Care, and Society à l’Université de Massachusetts.
    </p>

    <p>
      Instructeur MBCT ( Mindfulness / pleine  conscience - CHU Charleroi)
    </p>

    <p>
      Membre de l'ADM (Association pour le développement de la Mindfulness),
    </p>
  </div>
</div>
