<div class="row">
  <div class="section col-sm-12" id="vanessa">
    <h3>Vanessa Beck | vanessa.beck@brussels.edu</h3>
    <img class="pull-left profile" src="vanessa.jpg" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
      nisi ipsum, a sodales leo imperdiet a. Nullam vestibulum sagittis felis,
      a dapibus est volutpat tincidunt. Phasellus ac aliquam mauris, vel
      convallis enim. Etiam sed finibus augue, quis tristique massa. Nunc nec
      urna feugiat, ullamcorper leo vitae, mollis lacus. Morbi in libero erat.
      Duis posuere urna dapibus nisl vulputate feugiat. Cras pellentesque
      tincidunt neque congue venenatis. Vestibulum nisl justo, convallis id
      facilisis vel, pulvinar et nunc. Donec vestibulum turpis metus, vitae
      aliquet lorem lacinia sit amet. Morbi sed varius dolor.
    </p>
    <p>
      In hac habitasse platea dictumst. Vestibulum non imperdiet quam. Nunc
      quis erat eleifend, pharetra lectus nec, mattis metus. Etiam efficitur,
      nisl id sagittis ultricies, turpis risus dignissim leo, ut tempor mi leo
      sit amet augue. Quisque eu commodo turpis, sed auctor nulla. Etiam eu
      arcu massa. Quisque mattis nibh non est gravida gravida.
    </p>
    <p>
      Etiam sed elit dapibus odio ornare ornare ut quis nunc. Vivamus
      ullamcorper dictum quam, vel posuere diam viverra venenatis. Morbi ac
      tristique nisi, ac molestie ligula. Fusce eu erat sollicitudin, tempus
      erat vestibulum, porta magna. Duis et enim scelerisque, malesuada magna
      id, euismod tellus. Cras eget urna vitae tortor vulputate commodo.
      Integer a ullamcorper lectus, ac condimentum est. Suspendisse cursus,
      velit vel sagittis ullamcorper, nulla sapien congue felis, nec viverra
      diam enim sodales diam. Fusce interdum, orci pulvinar bibendum convallis,
      diam elit tempus sapien, eget ullamcorper velit tellus in tellus. In quis
      pretium enim. Donec aliquam orci eget sem imperdiet, sed vulputate dui
      condimentum. Integer eget mi et diam tristique feugiat. Pellentesque
      eleifend imperdiet elit at efficitur. Nam convallis tortor porta magna
      faucibus, vitae tempus dolor molestie.
    </p>
  </div>

  <div class="section col-sm-12" id="adrien">
    <h3>Adrien Fitch | adrien.fitch@brussels.edu</h3>
    <img class="pull-left profile" src="adrien.jpg" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
      nisi ipsum, a sodales leo imperdiet a. Nullam vestibulum sagittis felis,
      a dapibus est volutpat tincidunt. Phasellus ac aliquam mauris, vel
      convallis enim. Etiam sed finibus augue, quis tristique massa. Nunc nec
      urna feugiat, ullamcorper leo vitae, mollis lacus. Morbi in libero erat.
      Duis posuere urna dapibus nisl vulputate feugiat. Cras pellentesque
      tincidunt neque congue venenatis. Vestibulum nisl justo, convallis id
      facilisis vel, pulvinar et nunc. Donec vestibulum turpis metus, vitae
      aliquet lorem lacinia sit amet. Morbi sed varius dolor.
    </p>
    <p>
      In hac habitasse platea dictumst. Vestibulum non imperdiet quam. Nunc
      quis erat eleifend, pharetra lectus nec, mattis metus. Etiam efficitur,
      nisl id sagittis ultricies, turpis risus dignissim leo, ut tempor mi leo
      sit amet augue. Quisque eu commodo turpis, sed auctor nulla. Etiam eu
      arcu massa. Quisque mattis nibh non est gravida gravida.
    </p>
    <p>
      Etiam sed elit dapibus odio ornare ornare ut quis nunc. Vivamus
      ullamcorper dictum quam, vel posuere diam viverra venenatis. Morbi ac
      tristique nisi, ac molestie ligula. Fusce eu erat sollicitudin, tempus
      erat vestibulum, porta magna. Duis et enim scelerisque, malesuada magna
      id, euismod tellus. Cras eget urna vitae tortor vulputate commodo.
      Integer a ullamcorper lectus, ac condimentum est. Suspendisse cursus,
      velit vel sagittis ullamcorper, nulla sapien congue felis, nec viverra
      diam enim sodales diam. Fusce interdum, orci pulvinar bibendum convallis,
      diam elit tempus sapien, eget ullamcorper velit tellus in tellus. In quis
      pretium enim. Donec aliquam orci eget sem imperdiet, sed vulputate dui
      condimentum. Integer eget mi et diam tristique feugiat. Pellentesque
      eleifend imperdiet elit at efficitur. Nam convallis tortor porta magna
      faucibus, vitae tempus dolor molestie.
    </p>
  </div>

  <div class="section col-sm-12" id="romeo">
    <h3>Romeo Gerard | romeo.gerard@brussels.edu</h3>
    <img class="pull-left profile" src="romeo.jpg" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
      nisi ipsum, a sodales leo imperdiet a. Nullam vestibulum sagittis felis,
      a dapibus est volutpat tincidunt. Phasellus ac aliquam mauris, vel
      convallis enim. Etiam sed finibus augue, quis tristique massa. Nunc nec
      urna feugiat, ullamcorper leo vitae, mollis lacus. Morbi in libero erat.
      Duis posuere urna dapibus nisl vulputate feugiat. Cras pellentesque
      tincidunt neque congue venenatis. Vestibulum nisl justo, convallis id
      facilisis vel, pulvinar et nunc. Donec vestibulum turpis metus, vitae
      aliquet lorem lacinia sit amet. Morbi sed varius dolor.
    </p>
    <p>
      In hac habitasse platea dictumst. Vestibulum non imperdiet quam. Nunc
      quis erat eleifend, pharetra lectus nec, mattis metus. Etiam efficitur,
      nisl id sagittis ultricies, turpis risus dignissim leo, ut tempor mi leo
      sit amet augue. Quisque eu commodo turpis, sed auctor nulla. Etiam eu
      arcu massa. Quisque mattis nibh non est gravida gravida.
    </p>
    <p>
      Etiam sed elit dapibus odio ornare ornare ut quis nunc. Vivamus
      ullamcorper dictum quam, vel posuere diam viverra venenatis. Morbi ac
      tristique nisi, ac molestie ligula. Fusce eu erat sollicitudin, tempus
      erat vestibulum, porta magna. Duis et enim scelerisque, malesuada magna
      id, euismod tellus. Cras eget urna vitae tortor vulputate commodo.
      Integer a ullamcorper lectus, ac condimentum est. Suspendisse cursus,
      velit vel sagittis ullamcorper, nulla sapien congue felis, nec viverra
      diam enim sodales diam. Fusce interdum, orci pulvinar bibendum convallis,
      diam elit tempus sapien, eget ullamcorper velit tellus in tellus. In quis
      pretium enim. Donec aliquam orci eget sem imperdiet, sed vulputate dui
      condimentum. Integer eget mi et diam tristique feugiat. Pellentesque
      eleifend imperdiet elit at efficitur. Nam convallis tortor porta magna
      faucibus, vitae tempus dolor molestie.
    </p>
  </div>

  <div class="section col-sm-12" id="genny">
    <h3>Genny Sartorello | genny.sartorello@brussels.edu</h3>
    <img class="pull-left profile" src="genny.jpg" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
      nisi ipsum, a sodales leo imperdiet a. Nullam vestibulum sagittis felis,
      a dapibus est volutpat tincidunt. Phasellus ac aliquam mauris, vel
      convallis enim. Etiam sed finibus augue, quis tristique massa. Nunc nec
      urna feugiat, ullamcorper leo vitae, mollis lacus. Morbi in libero erat.
      Duis posuere urna dapibus nisl vulputate feugiat. Cras pellentesque
      tincidunt neque congue venenatis. Vestibulum nisl justo, convallis id
      facilisis vel, pulvinar et nunc. Donec vestibulum turpis metus, vitae
      aliquet lorem lacinia sit amet. Morbi sed varius dolor.
    </p>
    <p>
      In hac habitasse platea dictumst. Vestibulum non imperdiet quam. Nunc
      quis erat eleifend, pharetra lectus nec, mattis metus. Etiam efficitur,
      nisl id sagittis ultricies, turpis risus dignissim leo, ut tempor mi leo
      sit amet augue. Quisque eu commodo turpis, sed auctor nulla. Etiam eu
      arcu massa. Quisque mattis nibh non est gravida gravida.
    </p>
    <p>
      Etiam sed elit dapibus odio ornare ornare ut quis nunc. Vivamus
      ullamcorper dictum quam, vel posuere diam viverra venenatis. Morbi ac
      tristique nisi, ac molestie ligula. Fusce eu erat sollicitudin, tempus
      erat vestibulum, porta magna. Duis et enim scelerisque, malesuada magna
      id, euismod tellus. Cras eget urna vitae tortor vulputate commodo.
      Integer a ullamcorper lectus, ac condimentum est. Suspendisse cursus,
      velit vel sagittis ullamcorper, nulla sapien congue felis, nec viverra
      diam enim sodales diam. Fusce interdum, orci pulvinar bibendum convallis,
      diam elit tempus sapien, eget ullamcorper velit tellus in tellus. In quis
      pretium enim. Donec aliquam orci eget sem imperdiet, sed vulputate dui
      condimentum. Integer eget mi et diam tristique feugiat. Pellentesque
      eleifend imperdiet elit at efficitur. Nam convallis tortor porta magna
      faucibus, vitae tempus dolor molestie.
    </p>
  </div>

  <div class="section col-sm-12" id="monica">
    <h3>Monica Piraino | monica.piraino@brussels.edu</h3>
    <img class="pull-left profile" src="monica.jpg" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
      nisi ipsum, a sodales leo imperdiet a. Nullam vestibulum sagittis felis,
      a dapibus est volutpat tincidunt. Phasellus ac aliquam mauris, vel
      convallis enim. Etiam sed finibus augue, quis tristique massa. Nunc nec
      urna feugiat, ullamcorper leo vitae, mollis lacus. Morbi in libero erat.
      Duis posuere urna dapibus nisl vulputate feugiat. Cras pellentesque
      tincidunt neque congue venenatis. Vestibulum nisl justo, convallis id
      facilisis vel, pulvinar et nunc. Donec vestibulum turpis metus, vitae
      aliquet lorem lacinia sit amet. Morbi sed varius dolor.
    </p>
    <p>
      In hac habitasse platea dictumst. Vestibulum non imperdiet quam. Nunc
      quis erat eleifend, pharetra lectus nec, mattis metus. Etiam efficitur,
      nisl id sagittis ultricies, turpis risus dignissim leo, ut tempor mi leo
      sit amet augue. Quisque eu commodo turpis, sed auctor nulla. Etiam eu
      arcu massa. Quisque mattis nibh non est gravida gravida.
    </p>
    <p>
      Etiam sed elit dapibus odio ornare ornare ut quis nunc. Vivamus
      ullamcorper dictum quam, vel posuere diam viverra venenatis. Morbi ac
      tristique nisi, ac molestie ligula. Fusce eu erat sollicitudin, tempus
      erat vestibulum, porta magna. Duis et enim scelerisque, malesuada magna
      id, euismod tellus. Cras eget urna vitae tortor vulputate commodo.
      Integer a ullamcorper lectus, ac condimentum est. Suspendisse cursus,
      velit vel sagittis ullamcorper, nulla sapien congue felis, nec viverra
      diam enim sodales diam. Fusce interdum, orci pulvinar bibendum convallis,
      diam elit tempus sapien, eget ullamcorper velit tellus in tellus. In quis
      pretium enim. Donec aliquam orci eget sem imperdiet, sed vulputate dui
      condimentum. Integer eget mi et diam tristique feugiat. Pellentesque
      eleifend imperdiet elit at efficitur. Nam convallis tortor porta magna
      faucibus, vitae tempus dolor molestie.
    </p>
  </div>
</div>
