<div class="row">
  <div class="section col-sm-12">
    <h3>Bibliography</h3>

    <ol>
      <li>Chiesa A (Apr 2014). "Are mindfulness-based interventions effective for substance use disorders? A systematic review of the evidence". Subst Use Misuse 49 (5): 492–512. doi:10.3109/10826084.2013.770027. PMID 23461667.</li>
      <li>Garland EL (Jan 2014). "Mindfulness training targets neurocognitive mechanisms of addiction at the attention-appraisal-emotion interface". Front Psychiatry 4 (173). doi:10.3389/fpsyt.2013.00173.</li>
      <li>Shonin E, Van Gordon W, Griffiths MD (Feb 2014). "Do mindfulness-based therapies have a role in the treatment of psychosis?". Aust N Z J Psychiatry 48 (2): 124–127. doi:10.1177/0004867413512688.</li>
      <li>Chadwick P (May 2014). "Mindfulness for psychosis". The British Journal of Psychiatry 204 (5): 333–334. doi:10.1192/bjp.bp.113.136044.</li>
    </ol>

  </div>
</div>
