<div class="row">
  <div class="section col-sm-12">
    <h3>Bibliography</h3>

    <ol>
      <li>Morledge, T. J., Allexandre, D., Fox, E., Fu, A.Z., Higashi, M. K., Kruzikas, D. T., Pham, S.V. & Reese, P.R. (2013). Feasibility of an online mindfulness program for stress management—a randomized, controlled trial. Annals of Behavioral Medicine, 46(2), 137-148.</li>
      <li>Gordon, W. V., Shonin, E., Zangeneh, M., Griffiths, M.D. (2014). Work related mental health and job performance: can mindfulness help? International Journal of Mental Health and Addiction, Vol.12, No. 2, 129-137.</li>
      <li>Shao, R., Skarlicki, D.P. (2009). The role of mindfulness in predicting individual performance. Canadian Journal of Behavioural Science, Vol.41, No. 4, 195-201.</li>
      <li>Brown, K. W., Richard M. R.(2003). The benefits of being present: mindfulness and its role in psychological well-being. Journal of personality and social psychology Vol. 84, No. 4: 822-848.</li>
      <li>Barsade, S. G. (2002). The ripple effect: Emotional contagion and its influence on group behavior. Administrative Science Quarterly, 47(4), 644-675.</li>
      <li>Keng SL, Smoski MJ, Robins CJ, Ekblad A, Brantley J. Mechanisms of change in MBSR: Self compassion and mindful attention as mediators of intervention outcome; Poster presented at the annual meeting of the Association for Behavioral and Cognitive Therapies; San Francisco, CA. Nov 19, 2010.</li>
      <li>http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3679190/#R102</li>
    </ol>

  </div>
</div>
