<div class="row">
  <div class="section col-sm-12" id="mindfulness">
    <h3>Qu’est-ce que la mindfulness?</h3>
    <p>
      Le concept de mindfulness ou, la pleine conscience, décrit un <b>état de conscience</b>
      qui <b>focalise l’attention</b> de l’individu sur le moment présent, en développant le
      non-jugement, la perception consciente des expériences de temps relatives à son
      environnement, ses pensées, ses sentiments et ses actes.<span class="superscript" id="baer"><a href="/bibliography#baer">[1]</a></span>
    </p>

    <p>
      Souvent confondue avec la méditation bouddhiste, elle se distingue en fait de
      cette pratique de par son implication totale, directe et active dans les
      <b>phénomènes expérimentés</b> dans le <b>moment présent</b> et non dans le passé ou le
      futur tel que c’est le cas dans le bouddhisme.<span class="superscript" id="gordon"><a href="/bibliography#gordon">[2]</a></span>
      <span class="superscript" id="shao"><a href="/bibliography#shao">[3]</a></span>
    </p>

    <p>
      Enfin, on pourrait décrire la mindfulness également comme se référant à une
      <b>attention réceptive</b> et à la conscience des <b>événements et expériences
      présentes</b>. Elle implique une <b>capacité d’acceptation</b> de ce qui se passe au
      moment pérsent, capacité naturelle et inhérente de l’organisme humain.
     <span class="superscript" id="brown"><a href="/bibliography#brown">[4]</a></span>
    </p>

    <div class="text-center space col-sm-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KilkFku7Jfs" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="section col-sm-12" id="pratique">
    <h3>Comment on la pratique</h3>
    <p>
      La <b>pleine conscience</b> consistant à porter attention au moment présent de façon
      volontaire, celle-ci a des effets bénéfiques contre le stress et l’anxiété que l’on
      peut rencontrer au travail. Ceux-ci incluent:
    </p>

    <ul>
      <li>La réduction du stress</li>
      <li>Une clarté d’esprit accrue, un esprit équilibré et zen</li>
      <li>Une capacité de résolution de problèmes complexes et une compétence our la prise de décisions accrue</li>
      <li>Une amélioration du leadership</li>
      <li>Plus d’intelligence émotionnelle</li>
      <li>Une régulation de l’humeur et un système immunitaire accru</li>
    </ul>

    <p>
      Comment cette technique marche-t-elle alors ? Il suffit de cultiver sa capacité de
      prêter attention au <b>moment présent</b> et <b>sans jugement</b>. Il est important de
      comprendre que nos pensées, émotions et sentiments sont interconnectés et
      ensemble, peuvent causer une réaction de stress. En pratiquant la mindfulness,
      nous apprenons à être conscient de ces pensées, émotions et sentiments ainsi
      que de notre comportement et devenons de ce fait capables d’interrompre le
      cycle de stress avant qu’il ne devienne hors de contrôle.
    </p>

    <div class="text-center space col-sm-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6p_yaNFSYao" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>
      La <b>méditation mindfulness</b> a comme principe de pleinement prêter attention à
      son corps. Prenez place, sur une chaise, un coussin de méditation ou n’importe
      quel endroit qui vous donne un siège solide et stable, de préférence dans un
      endroit calme. Laissez les lumières allumées, ou éclairez vous à la lumière du
      jour. Il peut être utile de se fixer une période de temps que l’on va se consacrer à
      la méditation mindfulness. Si vous commencez seulement avec ce type de
      méditation, choisissez un laps de temps court, comme cinq ou dix minutes. Enfin,
      vous pourrez augmenter cette durée à 20, 40 ou 60 minutes.
    </p>

    <p>
      Prenez une <b>bonne posture</b>, sur une chaise avec vos pieds sur le sol, les jambes
      croisées, dans la position du lotus, à genoux – tout es bon, il suffit d’être stable et
      de se tenir droit. Lorsque vous avez trouvé votre position, sentez votre
      <b>respiration</b> et « suivez » la lorsque vous inspirez et expirez continuellement.
      Lorsque votre attention, inévitablement,  se détourne de votre respiration,
      <b>refocalisez</b> la dès que vous en prenez conscience. Ne vous laissez pas distraire
      par vos pensées, ne prêtez aucun jugement, et ne pensez pas à leur contenu.
      Revenez. Quand vous partez, revenez simplement vers votre respiration. C’est
      l’entraînement. Ce n’est pas nécessairement facile, cependant l’enjeu est de
      toujours continuer.
    </p>

    <div class="text-center space col-sm-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O1hdckSPLjE" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>
      Ci-dessous vous trouverez quelques conseils pour pratiquer la mindfulness sur
      votre <b>lieu de travail</b>:
    </p>

    <ul>
      <li>Lorsque votre journée de travail commence, ralentissez votre démarche
      tandis que vous marchez vers votre voiture, écoutez votre corps et
      remarquez toute tension. Essayez de la relâcher.</li>
       <li>Essayez de conduire plus doucement et laissez les feux rouges être des
      rappels de simplement porter attention à votre respiration </li>
      <li>Pendant que vous allez vers votre bureau, respirez et expirez en trois
      étapes. Remarquez la sensation de marcher, il vous a fallu plus d’une
      année pour apprendre comment le faire. </li>
      <li>Si vous êtes à votre bureau,  inspirez plusieurs fois avant de vérifier vos e-mails </li>
      <li>Si possible, peut être une fois par semaine, déjeunez seul et mangez un
      peu plus lentement et porter votre attention sur la sensation du goût de
      votre nourriture </li>
      <li>Lorsque vous retournerez vers votre voiture, entraînez vous à répéter
      l’exercice </li>
      <li>Il n’est pas nécessaire de se presser à la maison, pour se « relaxer »,
      conduisez lentement et expérimentez de nouvelles chaînes de radio, ou
      réfléchissez à ce que vous avez fait aujourd’hui. Quelles étaient les choses
      positives, qu’est-ce que vous aimeriez améliorer</li>
      <li>Quand vous arrivez à la maison, si vous avez une famille, prenez quelques
      minutes dans la voiture et respirez, remarquez si vous vous sentez tendu
      et essayez de relâcher vos muscles en inspirant et expirant avec
      conscience.</li>
    </ul>

    <div class="text-center space col-sm-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gN4qPxkbBkI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="section col-sm-12" id="entreprises">
    <h3>Apport pour les entreprises</h3>

    <p>
      Notre esprit au travail ne peut toujours être focalisé sur les nombreuses tâches
      auxquelles on fait face dans la journée, et peut se trouver de ce fait
      involontairement déconcentré. Tout employé peut se trouver distrait, dispersé,
      ennuyé par des collègues, des commérages ou être physiquement fatigué par la
      tension et le stress au travail. Souvent, on peut aussi être confronté à un
      problème au travail et se retrouver coincé à défaut de n’avoir de solution
      pertinente ou frustré par son propre manque de progrès ou celui des autres.
    </p>

    <p>
      La bonne nouvelle c’est que la solution à ces ennuis peut être, plus facile que ce
      que l’on aurait envisagé et à portée de main à tout le monde. Dans bien des cas, il
      suffit de  prendre une courte pause, quelques minutes, pour <b>refocaliser son
      attention</b>, respirer et laisser son <b>attention visualiser</b> son corps de la tête au
      pied en s’arrêtant sur chaque point de tension pour lui demander de se relâcher.
      Rester assis dans le calme, contempler son problème comme si on l’envisageait
      pour la première fois peut nous augmenter notre capacité à laisser de côté des
      attentes ou suppositions et voir les choses d’un autre angle. Ecouter une musique
      relaxante sans faire rien d’autre peut nous apprendre à être patient et laisser les
      choses se développer dans leur propre rythme plutôt que d’essayer de les forcer.
    </p>

    <p>
      <b>« Un esprit détendu est un esprit productif »</b>
    </p>

    <p>
      La pratique de la Mindfulness peut apporter la solution à certains problèmes
      rencontrés sur le lieu de travail. En effet le cerveau sous stress secrète des
      hormones tel le cortisol et l’adrénaline qui <b>empêchent une bonne
      performance</b> au travail. Lorsque tel est le cas, notre attention se restreint à se
      focaliser sur la cause du stress et non sur la tâche. Notre mémoire provoque des
      pensées concernant le stresseur et nous retombons à de mauvaises habitudes
      d’apprentissage. De plus, les <b>émotions</b>, bonnes ou mauvaises, dans une équipe
      de travail sont <b>contagieuses</b> dans la mesure où en deux heures seulement, les
      membres d’une équipe lors d’une réunion finissent à partager leur humeur, les
      émotions jouant ensemble.
      <span class="superscript" id="barsade"><a href="/bibliography#barsade">[5]</a></span>
      Enfin, les personnes étant capable de
      <b>s’autoréguler</b> sont aussi capable de se remettre de leur stress plus rapidement,
      l’attention arrive à se <b>refocaliser</b>, l’esprit devient plus <b>flexible</b> et le corps se
      <b>relaxe</b>. Or, nous savons qu’en étant dans un état d’esprit calme et détendu, tout
      en restant alerte, nous parvenons à notre <b>niveau de performance optimal</b>.
    </p>
  </div>
  <div class="section col-sm-12" id="proposees">
    <h3>Formations proposées</h3>

    <p>
      <b>Mindfulness-Based Stress Reduction (MBSR):</b>
    </p>

    <p>
      Le MBSR est un programme d’intervention en groupe, mis en place par Jon
      Kabat-Zinn, qui propose un entraînement à la méditation mindfulness pour aider
      les personnes à plus d’acceptation et sans porter de jugement quant à leurs
      conditions physiques et psychologiques. Les cours durent de huit à dix semaines,
      où les groupes sont composés d’environ 30 participants qui se rencontrent de
      deux à deux heures trente par semaine pour les instructions et les entraînements
      à la méditation mindfulness (citant Kabat-Zinn, 1990). Les participants sont
      encouragés à s’entraîner aussi à la maison. Ce programme suppose qu’avec des
      entraînements répétés de méditation mindfulness, les personnes pourront
      éventuellement apprendre à être moins réactifs et critiques quand à leurs
      expériences, et plus aptes à reconnaître les modes de pensée et de
      comportement maladaptés, pour enfin s’en libérer.
    </p>

    <p>
      Il a été démontré que le MBSR<span class="superscript" id="keng"><a href="/bibliography#keng">[6]</a></span> réduisait le niveau
      d’anxiété, de dépression, de colère, de cogitation,  de détresse psychologique
      générale (incluant le stress perçu), de désorganisation cognitive, de symptômes
      d’évitement post-traumatique, et de symptômes médicaux, auto-déclarés.
    </p>

    <p>
      Aussi il pouvait améliorer les affects positifs, le sens de la spiritualité, l’empathie,
      le sens de cohésion, la pleine-conscience, l’indulgence, l’auto-compassion, la
      satisfaction de vie, et de qualité de vie, aussi bien sur les populations cliniques et
      non-cliniques.
    </p>

    <p>
      <b>Mindfulness-Based Cognitive Therapy (MBCT):</b>
    </p>

    <p>
      Adapté du MBSR, la MBCT est un programme manuel d’intervention de groupe,
      se déroulant durant huit semaines. Ce dernier combine un entrainement à la
      mindfulness et des éléments de thérapie cognitive, avec pour but de cibler les
      processus de vulnérabilité qui ont été impliqués dans le maintien d’épisodes
      dépressifs.
    </p>

    <p>
      Le MBCT vise à aider les participants à percevoir les pensées plus comme des
      événements mentaux que des faits, à reconnaître que les mauvaises pensées
      automatiques encouragent les symptômes dépressifs, et à desengager
      l’occurrence des pensées négatives de leurs effets psychologiques négatifs.
      <span class="superscript" id="keng2"><a href="/bibliography#keng2">[7]</a></span>
    </p>

    <p>
      Différentes études ont révélé que le MBCT réduisait les risques de rechute des
      patients ayant eu trois épisodes dépressifs ou plus. Aussi, il s’avérerait que le
      MBCT améliorerait tout un éventail de résultats symptomatiques et
      psychosociaux chez les patients dépressifs remis (symptômes dépressifs
      résiduels, qualité de vie). Les auteurs<span class="superscript" id="keng3"><a href="/bibliography#keng3">[8]</a></span>
      nous informent aussi que ce programme a été adapté pour le
      traitement du trouble bipolaire, de la phobie sociale, et des symptômes
      dépressifs chez les personnes épileptiques, et que les premiers résultats étaient
      prometteurs.
    </p>

    <div class="col-sm-12 text-center space">
      <img src="diagram.jpg" />
      <p>Schéma proposé par l'ADM 1</p>
    </div>
  </div>
</div>
